<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

    <!-- Ajax link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    
<!-- Ajax Request -->


<button id="myButton" 
      onclick="clicknow()">
     click
</button>
<div id="feedBack" 
   style="background-color: pink;">
   no feed back
</div>

  
<script>
  
    function clicknow()
    {
      $.ajax({
           type: 'GET',
           url: '/json_posts',
      }).done( function(resp) { 
        
        resp = JSON.parse(resp)
        myhtml = `
          <h3>${resp[0].title}
            <small>by ${resp[0].author}</small>
          </h3>
          <p>${resp[0].content}</p> `
        $("#feedBack").html(myhtml) 
      });
    }//end function
  </script>  