<!-- ajax link -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h1> class="title" > {{title}} </h1>

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit iste ab repudiandae odit pariatur ipsum maiores ut fuga, illo iusto commodi voluptatem reprehenderit, necessitatibus sit. Ratione dolore cumque quidem enim.


<p><a href="https://reqres.in/api/users" id="User">reqres.in</a></p>



<body>
 {%for p in myposts%}
    <div style="border:solid red 3px; ">
    <h1>{{ p.title }}</h1>
    <p> By {{ p.author }} on {{ p.date_posted }}</p>
    </div>
 {%endfor%}
</body> 
    <script>
        $(document).ready(function () {
          console.log("welcome MA ");
    
        })
      </script>
