<!-- ajax link -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h1> class="title" > {{title}} </h1>

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit iste ab repudiandae odit pariatur ipsum maiores ut fuga, illo iusto commodi voluptatem reprehenderit, necessitatibus sit. Ratione dolore cumque quidem enim.


<p><a href="https://reqres.in/api/users" id="User">reqres.in</a></p>



<body>
{%if title %}   
        <h1> class = "title" > {{title}}</h1> 
        {%else%}  <h1> class = "title" > THERE IS NO TITLE </h1>
        {%endif%}
    </body>


    <script>
        $(document).ready(function () {
          console.log("welcome MA ");
    
        })
      </script>
