<html>
    
	<head>
		<meta charset="utf-8">
		<title>online boking </title>
		<link rel="stylesheet" href="css/print.css">
		<link rel="license" href="https://www.opensource.org/licenses/mit-license/">
        <script src="script.js"></script>
        
    
    </head>
	<body>
		<header>
			<h1>Invoice</h1>
			<address contenteditable>
				<p>BOOKING ONLINE </p>
                <p>SAUDI ARABIA <br>JEDDAH</p>
                <p>2224 2118</p>
                <p>966 012500001</p>
			</address>
			<span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file" accept="image/*"></span>
		</header>
        
        <article>
			
			<address >
				<h2>Your reservation confirmed </h2>
			</address>
			<table class="meta">
				<tr>
					<th><span >Invoice </span></th>
					<td><span >101108</span></td>
				</tr>
				<tr>
					<th><span >Date</span></th>
					<td><span >January 1, 2021</span></td>
				</tr>
				
			</table>
			<table class="inventory">
				<thead>
					<tr>
						<th><span >F_name</span></th>
						<th><span >L_name </span></th>
						<th><span> Passport</span></th>
						<th><span >DOB</span></th>
						<th><span contenteditable>P_ID</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span >Sami</span></td>
						<td><span >Alfattani</span></td>
						<td><span >100200</span></td>
						<td><span >1985/01/01</span></td>
						<td><span>P001</span></td>
					</tr>
				</tbody>
            </table>
            <table class="inventory">
				<thead>
					<tr>
						<th><span >F_ID</span></th>
						<th><spa>Flight_from</span></th>
						<th><span >Flight_to</span></th>
						<th><span>Arrival_at</span></th>
						<th><span >Gate</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span >F18</span></td>
						<td><span >Jeddah King Abdulaziz Airport </span></td>
						<td><span >Riyadh King Khalid International Airport</span></td>
						<td><span >20:30 25/09/2021</span></td>
						<td><span>G09</span></td>
					</tr>
				</tbody>
			</table>
			
			<table class="balance">
				<tr>
					<th><span >Order Value</span></th>
					<td><span data-prefix>$</span><span>150.00</span></td>
				</tr>
				<tr>
					<th><span >Saveing </span></th>
					<td><span data-prefix>$</span><span >50.00</span></td>
                </tr>
                <tr>
					<th><span >VAT </span></th>
					<td><span data-prefix>$</span><span>15.00</span></td>
				</tr>
				<tr>
					<th><span >Total</span></th>
					<td><span data-prefix>$</span><span>100.00</span></td>
				</tr>
			</table>
		</article>
		<aside>
			<h1><span contenteditable> online booking </span></h1>
			
				<p></p>
			</div>
		</aside>
	</body>
</html>