{% extends "base.html" %} {% block title %}Fight_card{% endblock %} {% block content%}
<head>
  <meta http-equiv="refresh" content="30">
</head>
<!-- 
If you’re embedding a spreadsheet, you can show or hide parts of the spreadsheet after you publish to the web.

Open a file in Google Sheets.
At the top, click File and then  Share and then Publish to web.
In the window that appears, click Embed.
Click Publish.
Copy the code in the text box and paste it into your site or blog.
To show or hide parts of the spreadsheet, edit the HTML on your site or blog.
  gid=: The sheet ID.
  range=: The rows and columns that are published to the web. For example, A1:B14.
  widget=: True or false. If true, the sheet tab is displayed at the bottom.
  headers=: True or false. If true, row numbers and column letters are displayed.
  chrome=: True or false. If true, the title and footer are displayed.
  -->
<ul class="list-group list-group-flush">
  <style>
    .flex-container {
      display: flex;
      flex-wrap: nowrap;
    }
    
    .flex-container > li {
      background-color: #f1f1f1;
      width: 100px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
  </style>
  <li class="flex-container">
    <iframe width="1200" height="690" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ_YfCEFF53GminTFCNCpiQcq8bzYiwMvYl_lUAtHAJ8JDyIbOeBscCd-8ej5nj3wdU6xe1i1Ih9R90/pubhtml?gid=0&amp;single=false&amp;widget=false&amp;headers=false"></iframe>
  </li>
</ul>
<div id="cookieNotice" class="light display-right" style="display: none;">
  <div id="closeIcon" style="display: none;">
  </div>
  <div class="title-wrap">
      <h4>Cookie Consent</h4>
  </div>
  <div class="content-wrap">
      <div class="msg-wrap">
          <p>This website uses cookies or similar technologies, to enhance your browsing experience and provide personalized recommendations. By continuing to use our website, you agree to our  <a style="color:#115cfa;" href="/privacy-policy">Privacy Policy</a></p>
          <div class="btn-wrap">
              <button class="btn-primary" onclick="acceptCookieConsent();">Accept</button>
          </div>
      </div>
  </div>
  <script>
      // Create cookie
  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  // Delete cookie
  function deleteCookie(cname) {
    const d = new Date();
    d.setTime(d.getTime() + (24*60*60*1000));
    let expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=;" + expires + ";path=/";
  }

  // Read cookie
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
  }

  // Set cookie consent
  function acceptCookieConsent(){
    deleteCookie('user_cookie_consent');
    setCookie('user_cookie_consent', 1, 30);
    document.getElementById("cookieNotice").style.display = "none";
  }
  </script>
</div>
{% endblock %}