    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Password Protected page</title>
    <script type="text/javascript">
        var password;
        var pass1 = 6511;
        password = prompt('Enter Password', ' ');
        if (password == pass1)
            alert('Correct Password! Click OK to Enter!');
        else {
            alert('Not correct! Click OK to Return!');
            window.location = "http://sammaf.com";
        }
    </script>
    </head>
    <body>
        {% extends "base.html" %} {% block title %}organizational_chart{% endblock %} {% block content %}
        <iframe width="1050" height="690" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ_YfCEFF53GminTFCNCpiQcq8bzYiwMvYl_lUAtHAJ8JDyIbOeBscCd-8ej5nj3wdU6xe1i1Ih9R90/pubhtml?gid=1889630161&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            {% endblock %}

    </body>
    </html>